body{
  overflow: hidden;
}

.unitBtn{
  position: fixed;
  z-index: 2;
}

.unitBtn a{
  font-size: 1.5em;
  color: white;
}

#currentCity{
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

#coverBg{
  width: 100%;
  height: 100%;
  background-image: url("cover.jpg");
  background-size:cover;
  position: fixed;
  z-index: -1;
}

#cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25%;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

#weatherIcon{
  width: auto;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#forcast{
  min-height: 50vh;
  background-color: white;
}

#otherCity{
  min-height: 50vh;
  background-color: white;
}