html, body{
  overflow: hidden;
}

#wrapper{
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#popUpBox{
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2;
}

#unitBtn{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

#unitBtn a{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

#changeCity{
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

#changeCity a{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

#currentCity{
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

#coverBg{
  width: 100vw;
  min-height: 100vh;
  background-image: url("cover.jpg");
  background-size:cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

#cover{
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 45%;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

#weatherIcon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#forecast{
  min-height: 50vh;
  background-color: white;
}

#otherCity{
  min-height: 50vh;
  background-color: white;
}
